#!/bin/bash
clear
# Function to display the menu
show_menu() {
    echo "Network Interface Management"
    echo "----------------------------"
    echo "1. Create Interface"
    echo "2. Show Interface List"
    echo "3. Show IP List"
    echo "4. Add IP to Interface"
    echo "5. Delete IP from Interface"
    echo "6. Create Route"
    echo "7. Delete Route"
    echo "8. Change MAC Address"
    echo "9. UP/Down Interface"
    echo "q. Exit"
    echo -n "Enter your choice: "
    read choice
}


# Function to list interfaces
list_interfaces() {
    clear
    echo "Interfaces:"
    ip link show | awk -F: '$0 !~ "wl|^[^0-9]"{print $2}' | sed 's/^[ \t]*//;s/[ \t]*$//'
}

# Function to list IP addresses in a colorized and simplified format
list_ip_addresses() {
   clear
   sudo ip addr
}

# Function to list interfaces and allow user to select one
select_interface() {
    clear
    echo "Interfaces:"
    interfaces=$(ip link show | awk -F: '$0 !~ "wl|^[^0-9]"{print $2}' | sed 's/^[ \t]*//;s/[ \t]*$//')
    i=1
    for interface in $interfaces; do
        echo "$i - $interface"
        i=$((i+1))
    done
    echo -n "Select an interface: "
    read interface_number
    interface=$(echo "$interfaces" | sed "${interface_number}q;d")
    echo "Selected interface: $interface"
    return $interface_number
}

# Function to add IP to an interface
add_ip() {
    clear
    select_interface
    echo "Enter IP address:"
    read ip
    echo "Enter subnet mask:"
    read mask
    sudo ip addr add $ip/$mask dev $interface
}

# Function to delete IP from an interface
delete_ip() {
    clear
    select_interface
    echo "Enter IP address:"
    read ip
    sudo ip addr del $ip dev $interface
}

# Function to create a route
create_route() {
    clear
    select_interface
    echo "Enter destination network:"
    read dest
    echo "Enter gateway:"
    read gateway
    sudo ip route add $dest via $gateway dev $interface onlink metric 1400
}

# Function to delete a route
delete_route() {
    clear
    select_interface
    echo "Enter destination network:"
    read dest
    sudo ip route del $dest
}

# Function to generate a random, valid, and generic MAC address
generate_mac() {
        clear
	mac=$(python ~/.scripts/.mac.py random_mac_address)
	echo $mac
}

# Function to change MAC address
change_mac() {
    clear
    select_interface
    generate_mac
    sudo ip link set dev $interface address $mac
}

# UP DOWN INTERFACES
up_down() {
        clear && select_interface
	clear
	echo "You Want UP/Down $interface ?" && echo '1- UP\n2- Down'
	read  ud && clear
	case $ud in
	 1) sudo ip link set dev $interface up;;
	 2) sudo ip link set dev $interface down;;
	esac
}

# Main script
while true; do
    show_menu
    case $choice in
        1) create_interface ;;
        2) list_interfaces ;;
        3) list_ip_addresses ;;
        4) add_ip ;;
        5) delete_ip ;;
        6) create_route ;;
        7) delete_route ;;
        8) change_mac ;;
        9) up_down ;;
        q) clear
	   break ;;
        *) echo "Invalid option" ;;
    esac
done
